In [3]:
import pandas
import os

In [4]:
df = pandas.read_csv('notes.csv')

df

,A,A#,B,C,C#,D,D#,E,F,F#,G,G#
0,55.0,58.27,61.735,65.40625,69.29625,73.41625,77.78125,82.4075,87.3075,92.49875,97.99875,103.82625
1,110.0,116.54,123.470,130.81250,138.59250,146.83250,155.56250,164.8150,174.6150,184.99750,195.99750,207.65250
2,220.0,233.08,246.940,261.62500,277.18500,293.66500,311.12500,329.6300,349.2300,369.99500,391.99500,415.30500
3,440.0,466.16,493.880,523.25000,554.37000,587.33000,622.25000,659.2600,698.4600,739.99000,783.99000,830.61000
4,880.0,932.32,987.760,1046.50000,1108.74000,1174.66000,1244.50000,1318.5200,1396.9200,1479.98000,1567.98000,1661.22000
5,1760.0,1864.64,1975.520,2093.00000,2217.48000,2349.32000,2489.00000,2637.0400,2793.8400,2959.96000,3135.96000,3322.44000
6,3520.0,3729.28,3951.040,4186.00000,4434.96000,4698.64000,4978.00000,5274.0800,5587.6800,5919.92000,6271.92000,6644.88000
7,7040.0,7458.56,7902.080,8372.00000,8869.92000,9397.28000,9956.00000,10548.1600,11175.3600,11839.84000,12543.84000,13289.76000

In [9]:
liste = []

# df.iloc[4, 1] - df.iloc[4, 0]

j = 1
l = 3
for i in range(df.shape[1]):
    if i < (df.shape[1] - 1):
#         print(df.iloc[l, j] - df.iloc[l, i])
        print(df.iloc[l, i])
        j +=1
        print(j)

440.0
2
466.16
3
493.88
4
523.25
5
554.37
6
587.33
7
622.25
8
659.26
9
698.46
10
739.99
11
783.99
12

In [30]:
415.30500 - 391.99500

23.310000000000002

In [32]:
369.99500 - 391.99500

-22.0